* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #e2e4e6;
    color: #302f2e;
    font-size: 100%;
}

a, .fa {
    color: #2b7bb9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

address {
    font-style: normal;
}

strong, .bold {
    font-weight: bold;
}

input, select, .btn, .input-content, textarea {
    padding: .6em;
    margin: 0 0 1.2em;
    border: 1px solid #ccc;
    clear: both;
    width: 100%;
    min-width: 288px;
    display: block;
    font-size: 1.1em;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
}

input[type="checkbox"] {
    width: 1em;
}

input::-webkit-input-placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999;
}

input:focus, textarea:focus {
    box-shadow: 0 0 3px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}


.invalid, .invalid:focus {
    border-color: red;
    box-shadow: 0 0 3px red;
    border: 1px solid red;
}

.valid, .valid:focus {
    border-color: red;
    box-shadow: 0 0 3px #4CAF50;
    border: 1px solid #4CAF50;
}

.message {
    padding: .6em;
    color: #fff;
    box-shadow: none;
}

.message.valid {
    background-color: rgba(76, 175, 80, 0.49);
}

.message.invalid {
    background-color: rgba(255, 0, 0, 0.49);
}

label span{
    display:block;
    margin-bottom: .4em;
    font-size: .9em
}

.checkbox span {
    float: left;
}

.checkbox input[type="checkbox"] {
    display: inline-block;
    width: inherit;
}

/* event list*/

.eventList {
    background: #F8F8F8;
    border: 1px solid #ddd;
    border-radius: 0.7em;
}

.eventList > li {
    padding: 0 1em 1em;
    border-bottom: 1px solid #ddd
}

.eventList > li:last-child {
    border-bottom: 0;
}


/* Button */

.btn {
    text-transform:uppercase;
    padding: .8em;
    font-weight: bold;
    max-width: 300px;
    text-decoration: none;
}

.btn-primary {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #fff;
  font-size: 1em;
  border: 0;
}

.btn-primary:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn-small {
    min-width: 200px;
    font-size: .9em;
    width: 2em;
    padding-left: 0;
    padding-right: 0;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
  color: #999;
}

select {
    height: 2.3em;
}

.container {
    padding: 1em;
}

.section {
    padding-top: 4em;
    padding-bottom: 4em
}

.section-small {
    padding-top: 1em;
    padding-bottom: 1em
}


.section-white {
    background: #F8F8F8;
}
.sidebar {
    width: 280px;
    background: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
/* Social Icons*/

.share-bar-button-container {
    width: 192px;
}

.share-bar-button {
    float: left;
    display: block;
    width: 3em;
    height: 3em;
    text-align: center;
    cursor: pointer;
}



/* Grid */

.wrapper {
    width: 90%;
    max-width: 764px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-small {
    max-width: 400px;
}

.cf {
    clear: both;
}

.row:after, .cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: ' ';
     clear: both;
     height: 0;
 }

.quarter, .third, .half, .two-thirds, .three-fourths {
    float: left;
    padding-right: 1em;
    box-sizing: border-box;
}

.quarter {
    width: 25%;
}

.third: {
    width: 33%;
}

.half {
    width: 50%;
}

.two-thirds {
    width: 66%;
}

.three-fourths {
    width: 75%;
}

.full {
    width: 100%
}

body .last {
    padding-right: 0;
}

.addSpacingForMenu {
    padding-right: 280px;
}

.input-content {
    height: 12em;
    background: #fff;
}

.btn {
    text-align: center;
    cursor: pointer;
}

.list-inline, .list-nostyle {
    padding: 0;
    margin:0;
    list-style: none;
}

.list-inline li, .inline-block {
    display: inline-block;
}

.menu-item, .menu-item-vertical {
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.menu-item-vertical {
    display: block;
    border-bottom: 1px solid #999;
}

.menu-item-vertical:hover, .menu-item-vertical:active {
    background: #444;
}

.fa.menu-item-vertical::before, .fa.menu-item::before {
    margin-right: .4em;
}

/* Geo suggest styling*/
.geosuggest__input {
    margin-bottom: 0;
}
.geosuggest__suggests {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.geosuggest-item {
    padding: .6em;
    border-left: 1px solid #0099cc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    border-right: 1px solid #0099cc;
}

.geosuggest-item:first-child {
    border-top: 1px solid #0099cc;
}

.geosuggest-item:last-child {
    border-bottom: 1px solid #0099cc;
}


.geosuggest-item.geosuggest-item--active, .geosuggest-item:hover {
    background: #0099cc;
    color: #fff;
}

/*
    Helper classes
*/

body .bg-dark {
    background: #777;
}

body .bg-dark a{
    color: #fff;
}

body .tc {
    text-align: center;
}

body .fr {
    float: right;
}

body .fl {
    float: left;
}

body .hidden {
    display: none;
}

.pr {
    margin-right: -.4em;
}

body .mt {
    margin-top: .8em;
}

body .mr {
    margin-right: .8em;
}

body .ml {
    margin-left: .8em;
}

body .mb {
    margin-bottom: .8em;
}

body .mt0 {
    margin-top: 0;
}

body .mb0 {
    margin-bottom: 0;
}

body .nospace {
    padding: 0;
    margin: 0;
}

body .list-nostyle {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

body .db {
    display: block;
}

body .tar {
    text-align: right;
}

body .tal {
    text-align: left;
}

body .centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body .center {
    text-align: center;
}

body .padding {
    padding: 1em;
}

body .large {
    font-size: 2em;
}

body .extra-large {
    font-size: 4em;
}

body .thin {
    font-weight: 300;
}
