.mobile-only {
    display: none;
}

.tablet-desktop-only {
    display: block;
}

@media screen and (max-width: 64em) {/* 1024px/16px */}
@media screen and (max-width: 48em) {
    .half {
        width: 100%;
        padding-right: 0;
    }

}
@media screen and (max-width: 30em) {
    body .sidebar {
        width: 100%;
    }
    body .mobile-only {
        display: block;
    }
    body .tablet-desktop-only {
        display: none;
    }
}
